################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProjM1/ProjM1.dir/Release
/ProjM1/.vs
/ProjM1/CMakeFiles
/ProjM1/Win32/Release
/ProjM1/ZERO_CHECK.vcxproj.filters
/ProjM1/ZERO_CHECK.vcxproj
/ProjM1/ProjM1.vcxproj.user
/ProjM1/ProjM1.vcxproj.filters
/ProjM1/ProjM1.vcxproj
/ProjM1/ProjM1.VC.VC.opendb
/ProjM1/ProjM1.VC.db
/ProjM1/ProjM1.sln
/ProjM1/INSTALL.vcxproj.filters
/ProjM1/INSTALL.vcxproj
/ProjM1/cmake_install.cmake
/ProjM1/CMakeCache.txt
/ProjM1/ALL_BUILD.vcxproj.filters
/ProjM1/ALL_BUILD.vcxproj
/ProjM1/Release
